{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<header>
			</header>
				<section class="article-content">
					<div class="text-center">
						<h1>{{post.title}}</h1>
					</div>
					<div class="article-body">
						{{post.content}}
					</div>
				</section>

				<section class="row">
		     	<div class="col-md-4 well">
		     		<h3>{{options.ingredients_section_title}}</h3>
		     		<ul>
		     			{% for item in post.get_field('recipe_ingredients') %}
							<li>
							{{item.ingredient}}	
							</li>
						{% endfor %}
					</ul>
		     	</div>
				<div class="col-md-8">
		     		<img src="{{TimberImage(post.recipe_photo).src|resize(600)}}">
		     	</div>
		     </section><!--end photo & ingredients div-->	
		     <div>
		     	<h3>{{options.recipe_section_title}}</h3>
		     	<p>{{post.get_field('recipe_instructions')}}</p>
		     	<h3>{{options.recipe_story_title}}</h3>
		     	<p>{{post.get_field('recipe_story')}}</p>	
			</div>
		</article>
	</div><!-- /container -->
{% endblock %}


